# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage
*.lcov
.nyc_output

# Production
/dist
/build
storybook-static

# Vite
.vite
*.local

# Misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace

# OS
Thumbs.db
.DS_Store
desktop.ini

# Cache
.cache
.parcel-cache
.eslintcache

# Temporary files
*.tmp
*.temp
*.bak
*.backup

